* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  width: 100%;
}
ul {
  list-style-type: disc;
  padding-left: 40px;
}
.main {
  /* height: 100%; */
  width: 100%;
  background-color: aliceblue;
}
.search {
  height: 7vh;
  width: 100%;
  /* background-color: red; */
}
.project-section {
  width: 100%;
  /* background-color: green; */
}
.project {
  /* background-color: aqua; */
  border: 1px solid black;
  margin-bottom: 10px;
}