* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}
html,
body {
  height: 100%;
  width: 100%;
}
ul {
  list-style-type: disc;
  padding-left: 40px;
}
.main {
  /* height: 100%; */
  width: 100%;
  /* background-color: aliceblue; */
}
.search {
  height: 10vh;
  width: 100%;
  border-bottom: 1px solid #ccc;
}
.search form {
  height: 100%;
  width: 100%;
  /* background-color: red; */
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.search-bar {
  display: flex;
  flex-direction: row;
  gap: 10px;
}
.search-bar input,
.search form button {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 8px;
  outline: none;
}
.search form input[type="search"] {
  width: 30vw;
}
.search form button {
  border-radius: 5px;
  border: none;
  width: 5vw;
  cursor: pointer;
}
.search form button:hover {
  border-radius: 5px;
  border: none;
  background-color: #ccc;
}
.project-section {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 50px;
  gap: 10px;
}
.accordian {
  width: 80vw;
}
.accordian-title {
  background-color: blue;
  padding: 10px 15px;
}
.accordian-child {
  width: 100%;
  /* padding: 20px; */
  border: 1px solid #ccc;
  border-radius: 7px;
}
.accordian-child label {
  display: flex;
  align-items: center;
  cursor: pointer;
  padding: 20px;
  border-radius: 7px;
}
.accordian-child label:hover {
  background-color: #ccc;
}
.accordian-child input[type="checkbox"] {
  display: none;
}
.content {
  margin: 0 20px;
}
.accordian-child .content {
  /* background-color: red; */
  max-height: 0;
  overflow: hidden;
}
.accordian input[type="checkbox"]:checked + label + .content {
  max-height: fit-content;
}

/* edit button styles */
.editBtn {
  background-color: #4CAF50;
  color: white;
  padding: 10px 30px;
  margin-top: 10px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

.editBtn:hover {
  background-color: #45a049;
}

    /* Modal styles */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4);
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

